<!-- Courtesy: https://codepen.io/mynoralexander/pen/gpyYOo -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Boomi V/S Bufficorn</title>
    <link rel="stylesheet" href="../static/styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400&display=swap" rel="stylesheet">
</head>

<body>
    <header class="masthead clear">
        <div class="centered">

            <div class="site-branding">
                <h1 class="site-title">Battle of the NFTs: Boomi v/s Bufficorn</h1>
            </div>
            <!-- .site-title -->
        </div>
        <!-- .centered -->
    </header>
    <!-- .masthead -->

    <main class="main-area">
        <p> One mountain cannot bear two tigers ...</p>
        <div class="centered">
            <section class="cards">
                <article class="card">
                    <img src="../static/boomi.jpg" alt="Boomi">
                </article>
                <!-- .card -->
                <article class="card">
                    <img src="../static/bufficorn_flipped.png" alt="Bufficorn">
                </article>
                <!-- .card -->
            </section>
            <!-- .cards -->
            <p> Only one remains ...</p>
            <a href="./arena ">
                <div class="buttoncenter">
                    <button>
                        <h1>FIGHT!</h1>
                    </button>
                </div>
            </a>
        </div>
        <!-- .centered -->

    </main>

</body>

</html>