<!-- Courtesy: https://codepen.io/mynoralexander/pen/gpyYOo -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Boomi V/S Bufficorn</title>
    <link rel="stylesheet" href="../static/styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400&display=swap" rel="stylesheet">
</head>

<body>
    <header class="masthead clear">
        <div class="centered">

            <div class="site-branding">
                <h1 class="site-title">Battle of the NFTs: Boomi v/s Bufficorn</h1>
            </div>
            <!-- .site-title -->
        </div>
        <!-- .centered -->
    </header>
    <!-- .masthead -->

    <main class="main-area">

        <div class="centered">

            <section class="cards">

                <article class="card">
                    <a href="#">
                        <figure class="thumbnail">
                            <img src={{ boomi_url }} alt="A missing Boomi">
                        </figure>
                        <div class="card-content">
                            <h2>{{ boomi_name }}</h2>
                            <p>{{ boomi_desc }}</p>
                            <table>
                                <tr>
                                    <td>Eyes</td>
                                    <td>{{ boomi_eyes }}</td>
                                </tr>
                                <tr>
                                    <td>Skin</td>
                                    <td>{{ boomi_skin }}</td>
                                </tr>
                                <tr>
                                    <td>Ears</td>
                                    <td>{{ boomi_ears }}</td>
                                </tr>
                                <tr>
                                    <td>Nose</td>
                                    <td>{{ boomi_nose }}</td>
                                </tr>
                            </table>
                        </div>
                        <!-- .card-content -->
                    </a>
                </article>
                <!-- .card -->

                <article class="card">
                    <a href="#">
                        <figure class="thumbnail">
                            <img src={{ bufficorn_url }} alt="A missing Bufficorn">
                        </figure>
                        <div class="card-content">
                            <h2>{{ bufficorn_name }}</h2>
                            <p>{{ bufficorn_desc }}</p>
                            <table>
                                <tr>
                                    <td>Eyes</td>
                                    <td>{{ bufficorn_eyes }}</td>
                                </tr>
                                <tr>
                                    <td>Fur</td>
                                    <td>{{ bufficorn_fur }}</td>
                                </tr>
                                <tr>
                                    <td>Earrings</td>
                                    <td>{{ bufficorn_earrings }}</td>
                                </tr>
                                <tr>
                                    <td>Horn</td>
                                    <td>{{ bufficorn_horn }}</td>
                                </tr>
                            </table>
                        </div>
                        <!-- .card-content -->
                    </a>
                </article>
                <!-- .card -->

            </section>
            <!-- .cards -->

        </div>
        <!-- .centered -->

    </main>

</body>

</html>