<!-- Courtesy: https://codepen.io/mynoralexander/pen/gpyYOo -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Boomi V/S Bufficorn</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>

<body>
    <header class="masthead clear">
        <div class="centered">

            <div class="site-branding">
                <h1 class="site-title">Battle of the NFTs: Boomi v/s Bufficorn</h1>
            </div>
            <!-- .site-title -->
        </div>
        <!-- .centered -->
    </header>
    <!-- .masthead -->

    <main class="main-area">

        <div class="centered">

            <section class="cards">

                <article class="card">
                    <a href="#">
                        <figure class="thumbnail">
                            <img src="http://placekitten.com/810/610" alt="meow">
                        </figure>
                        <div class="card-content">
                            <h2>Whiskey</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum explicabo
                                consequatur consectetur fugit molestias perferendis, sint error iste ut, facilis sunt
                                natus optio dolor nesciunt laboriosam obcaecati corporis numquam.</p>
                        </div>
                        <!-- .card-content -->
                    </a>
                </article>
                <!-- .card -->

                <article class="card">
                    <a href="#">
                        <figure class="thumbnail">
                            <img src="http://placekitten.com/800/610" alt="meow">
                        </figure>
                        <div class="card-content">
                            <h2>Fluffy</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum explicabo
                                consequatur consectetur fugit molestias perferendis, sint error iste ut, facilis sunt
                                natus optio dolor nesciunt laboriosam obcaecati corporis numquam?</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum explicabo
                                consequatur consectetur fugit molestias perferendis, sint error iste ut, facilis sunt
                                natus optio dolor nesciunt laboriosam obcaecati corporis numquam?</p>
                        </div>
                        <!-- .card-content -->
                    </a>
                </article>
                <!-- .card -->

            </section>
            <!-- .cards -->

        </div>
        <!-- .centered -->

    </main>

</body>

</html>